ProyectiFinalInfo/settings/local.Py
ProyectiFinalInfo/settings/__pycache__
apps/noticias_app/__pycache__
ProyectiFinalInfo/__pycache__
/ProyectoFinalInfo/apps/noticias_app/__pycache__
/ProyectoFinalInfo/apps/blog_auth/__pycache__
/ProyectoFinalInfo/ProyectoFinalInfo/__pycache__
/ProyectoFinalInfo/ProyectoFinalInfo/settings/__pycache__
/ProyectoFinalInfo/db.sqlite3
