{% extends 'base.html' %}
{% block contenido %}
<H1 class="titular-seccion">CONTACTO</H1>

<section class="contacto-info">
    <div class="contacto-text">
        <div class="links-box">
            <i class="fa fa-location-dot location-dot"></i><p>Fray Bertaca 4000, Resistencia, Chaco.</p>
        </div>
        <div class="links-box">
            <a href="https://www.facebook.com/ernesto.ayala.7967747">
                <i class="fa fa-facebook-square facebook-square"></i> 
                <p>/ernesto.ayala.7967747</p>
            </a>
        </div>
        <div class="links-box">
            <i class="fa fa-envelopes-bulk mail"></i><p>ernestoayala444@gmail.com</p>
        </div>
        <div class="links-box">
            <i class="fa-brands fa-square-whatsapp whatsapp-square"></i><p>3624-082451</p>
        </div>
        <div class="links-box">
            <h3>DONACIONES:</h3>
            <p>Ernesto Ramon Ayala</p><br>
            <p>CVU: 0000003100051311090815</p><br>
            <p>Alias: casitadelarbolayala</p><br>
            <p>CUIT/CUIL: 20-26212003-2</p>
        </div>
    </div>

    <div class="contacto-text">
        <iframe class="mapa-responsive"
        src="https://maps.google.com/maps?q=fray%20bertaca%204000&t=&z=15&ie=UTF8&iwloc=&output=embed"
            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
</section>
{% endblock %}