        {% extends 'base.html' %}
        {% block contenido %}
        <H1 class="titular-seccion">NOSOTROS</H1>

        <section class="nosotros-info">
            <div class="nosotros-text">
                <p>
                    Bajo un árbol gigante hace siete años nació un merendero, iniciado por Ernesto Ayala, titular de esta
                    fundación, de ahí su nombre
                    <br>¿Quienes somos? Somos una familia, grande muy grande.
                    <br>El comedor y merendero "La Casita del Árbol es una familia grande, donde compartimos diariamente
                    alegrías, tristezas, juegos
                    y risas pero sobre todo, somos un grupo de personas comprometidas que dedicamos gran parte de nuestros días
                    a mejorar o intentar
                    mejorar la calidad de vida de muchos niños.
                    <br>Hace 7 años, tomamos la iniciativa de servir la merienda a los chicos de nuestro barrio ya que veíamos
                    la gran necesidad que
                    nos rodeaba. Comenzamos sirviendo la merienda una vez a la semana alrededor de 30 chicos del barrio, luego
                    la cantidad de niños
                    fue aumentando, nos vimos obligados a aumentar la cantidad de días de merienda. Al dia de hoy lo nos lleva a
                    contarte que servimos
                    almuerzo y merienda de lunes a sábado a más de 60 niños, de este barrio y también de barrios aledaños.
                    <br>En este 2022 seguimos apostando al presente y tratar de aportar fe, esperanza, buenas enseñanzas y
                    cubriendo algunas
                    necesidades muy importantes. No es fácil pero nada es imposible, Dios bendiga las buenas acciones, con mas
                    fuerza que nunca.-
                    </p>
                <p class="firma">Ernesto Ayala, Lucas, Ramona y Guido.</p>            
            </div>
        </section>
        {% endblock %}